.Rproj.user
.Rhistory
.RData
test_counts2.Rproj
sim_res.csv
test_counts2_poster-concordance.tex
test_counts2_poster.aux
test_counts2_poster.log
test_counts2_poster.nav
test_counts2_poster.out
test_counts2_poster.snm
test_counts2_poster.synctex.gz
test_counts2_poster.tex
test_counts2_poster.toc
figure
test_counts2_poster.bbl
test_counts2_poster.blg
test_counts2.png
